@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  animation: spin 60s linear infinite; 
}


.hero{
    background: url("./assets/Poster.svg");
    background-repeat: no-repeat;
    /* width: 100vw; */
    height:100vh;
    background-size: cover;
    background-position: center center;
    background-clip: initial;

}

.social-icon {
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2); /* Increase icon size on hover */
  filter: brightness(1.2); /* Increase brightness on hover */
  opacity: 0.8; /* Reduce opacity on hover */
}

.link-item {
  transition: color 0.3s ease;
  cursor: pointer;
}

.link-item:hover {
  color: #be123c; /* Change the color on hover */
}


@media (max-width: 748px) {
    .hero {
        background-repeat: no-repeat;
        /* width: 100vw; */
        height:80vh;
        background-size: cover;
     background-position: center center;

        background-clip: initial;
    }
}
/* 
debugger
*{
    border: 1px solid red;
} */