@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    background: url("./assets/Poster.svg");
    background-repeat: no-repeat;
    /* width: 100vw; */
    height:80vh;
    background-size: cover;
 
    background-clip: initial;

}

@media (max-width: 748px) {
    .hero {
        background-repeat: no-repeat;
        /* width: 100vw; */
        height:80vh;
        background-size: contain;
     
        background-clip: initial;
    }
}
/* 
debugger
*{
    border: 1px solid red;
} */